[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
urllib3 = "*"
coverage = "*"
sentry-sdk = "*"
Django = "*"

[requires]
python_version = "3.8"
