::placeholder {
    color: white;
}

html {
    background: linear-gradient(315deg, #923cb5 0%, #000000 74%);
}

.logo-text {
    text-align: center;
    font-family: Futura;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    color: white;
    top: 0px;
}

.setting-button {
    font-size: 75px;
    color: white;
    top: 0px;
    position: relative;
    left: 100%;
    transform: translateX(-375%);
    cursor: pointer;
}



body {
    border-left: 8px;
    border-right: 8px;
    border-top: 3px;
}

div {
    margin: 0px;
    /*border: 1px green solid;*/
    padding: 0px
}

.page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Brush Script MT;
    font-style: italic;
    font-weight: normal;
    font-size: 85px;
    color: white;
}

.center-text {
    text-align: center;
}

.blue-block {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 300px;
    overflow: hidden;
    display: block;
}

.notifications {
    position: absolute;
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    font-style: oblique;
    letter-spacing: 0.4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    width: 70%;
    text-overflow: ellipsis;
}

.personal-greeting {
    position: relative;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-bottom: 2px;
}

.underline-greeting {
    position: relative;
    width: 250px;
    background-color: #0CAADC;
    height: 3px;
    border: none;
    margin-top: 5px;
}

.top-right-icons {
    position: absolute;
    transform: translateY(50%);
    right: 0px;
    top: 0px;
}

.main-button {
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
    height: 50px;
    border-radius: 30px;
    background-color: #FF7D00;
    border: none;
    margin: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    cursor: pointer;
}

.button-text {
    text-align: center;
    font-family: Futura;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: white;
    padding: 20px;
}

.cards-container {
    width: 80%;
    top: 60px;
    left: 50%;
    display: flex;
    margin-top: 60px;
    margin-left: 15%;
    flex-wrap: wrap;
}

.card {
    width: 225px;
    background-color: white;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    margin-right: 10px;
    margin-bottom: 40px;
}

:not(.modal) > .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    box-shadow: 0px 10px 35px black;
}

.user-pic {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 5px;
}

.username {
    font-family: Roboto;
    font-size: 12px;
    color: black;
    position: absolute;
    top: 5px;
    padding-left: 5px;
}

.location {
    font-family: Roboto;
    font-size: 12px;
    color: dimgrey;
    position: absolute;
    top: 22px;
    padding-left: 5px;
}

.card-body {
    width: 100%;
    height: 250px;
}

.content {
    width: inherit;
    height: 75%;
}

.description {
    font-family: Roboto;
    font-size: 12px;
    color: black;
    margin: 5px;
    height: 15%;
    overflow: scroll;
}

.card-action-button {
    font-size: 20px;
    cursor: pointer;
    float: right;
    bottom: 1px;
    margin-left: 25px;
    margin-right: 2px;
    color: dimgrey;
}

.card-scroll-left {
    float: left;
    width: 9.75%;
    margin-top: 210px;
}

.card-scroll-right {
    float: left;
    width: 9.75%;
    margin-top: 210px;
}

.scroll-button {
    font-size: 75px;
    color: white;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.card-action-buttons {
    position: absolute;
    right: 0px;
    bottom: 2px;
}

button {
    outline: none;
}
