.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background: linear-gradient(315deg, #923cb5 0%, #000000 74%);
  background-size: 150% 150%;
  animation: gradientBG 5s ease infinite;
  width: 100%;
  height: 100%;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  text-align: left;
  font-family: Futura;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.middle {
  margin: auto;
  text-align: center;
  font-family: Futura;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.bottom {
  right: 0px;
  text-align: right;
  font-family: Futura;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.top-right-buttons {
  position: fixed;
  right: 0px;
  top: 0px;
}

button {
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
  width: 130px;
  height: 50px;
  border-radius: 30px;
  background-color: #da70d6;
  border: none;
  margin: 10px;
  cursor: pointer;
  outline: none;
}

.button-text {
  text-align: center;
  font-family: Futura;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: white;
}
